
main{
  display: flex;
  width: 100%;
  height:377px
}
.check-header {

  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 200;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.415);
  
 
  justify-content: space-between;
}
.div-support-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.checkout-title {
  text-align: start;
}

.grey-back {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  /* align-items: center; */
  justify-content: center;

}

.white-left {
  border-radius: 3px;
  width: 65%;
  margin: 40px 15px 40px 15px;
  background-color: white;
  padding: 20px;
  height: fit-content;
}

.white-right {
  border-radius: 3px;
  width: 35%;
  background-color: white;
  margin: 40px 15px 40px 15px;
  padding: 15px;
  margin-bottom: 200px;
  height: 100%;
}

.title-medium,
.light-text-start,
.title-medium {
  margin-bottom: 5px;
}

.square {
  padding: 15px;
  display: flex;
  border: 2px solid #e6e6e6;
  margin: 20px 3% 10px 3%;
  gap: 10px;
}

.right-square {
  width: 40%;
}

.left-square {
  display: flex;
  flex-direction: column;
  width: 60%;

}

/* ------------radio button-------------- */


/* ------------radio button-------------- */
.left-square {
  display: flex;
  flex-direction: column;
  align-content: start;
  gap: 10px;
}

.option {
  display: flex;
  border: 2px solid #e6e6e6;
  margin: 0;
  height: 50%;
  gap: 15px;
  transition: background-color 0.4s;
}

.valor-entrega-square {
  text-align: end;
  width: 50%;

}

p,
.valor-entrega-square {
  margin: 0;
  align-content: center;
  padding-right: 20px;
}

.opcao-entrega-square {
 justify-content: center;
 width: 60%;
padding-top: 5px;
padding-bottom: 5px;

  
}

.circle-icon {
  min-width: 15px;
  max-width: 15px;
  opacity: 50%;
}

.img-icon-div {
  align-content: center;
  padding: 15px 20px;
}
.option-div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.option:hover{
background-color: #e6e6e6;
}
.product-square{
  display: flex;
  vertical-align: center;
  height: 90%;
  align-items: center;
}
.product-details{
  align-content: center;
}
.img-product{
  min-width: 80px;
  width: 80px;
  justify-items: center;

}
.product-center{
justify-items: center;
}

.light-text{
  opacity: 75%;
}


.resume{
  height: 100%;
  width: 100%;
  border: 0px;
}
.card-body{
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.but-prosseguir,
.but-continuar-comprando{
  margin: 0;
  width: 100%;
}

/* --------------HEADER--------------- */

:root {
padding: 40px;
}


.stepper {
display: flex;
align-items: center;
gap: 60px;
position: relative;
}
.stepper-mobile {
display: none;
align-items: center;
gap: 60px;
left: 50%;
}

.stepper::before {
content: "";
position: absolute;
top: 14px;
left: 0;
height: 4px;
width: 100%;
background: var(--inactive-color);
z-index: -1;
}


.step.active ~ .step .circle {
border-color: var(--inactive-color);
}


.step {
display: flex;
flex-direction: column;
align-items: center;
position: relative;

}


.circle {
width: 20px;
height: 20px;
border-radius: 50%;
border: 3px solid var(--inactive-color);
background: #e3e3e3;
}
.circle-selected {
width: 25px;
height: 25px;
border-radius: 50%;
border: 3px solid var(--inactive-color);
background: #00d0fd;
}

.step span {
margin-top: 8px;
font-size: 14px;
font-weight: 100;
}


.step.active span {
font-weight: 900;
color: var(--text-active);
}

/* --------------HEADER--------------- */


/* ------------MOBILE----------- */

.resume-mobile {

  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(0);
  padding: 15px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.611);
  background-color: white;
  border-radius: 0px;
  transition: height 1s;
  z-index: 9999 !important; 

}

.card-body-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* ------------MOBILE----------- */






.position-absolute{
  position: absolute;
  bottom: 0px;
 
}
@media (max-width: 850px) {
  .check-header{
  display: flex;
  justify-content: space-between;
  height: 130px;
}
.white-right{
  display: none;
}
.white-left{
  width: 100%;
}
.square{
  flex-direction: column;}
 .option-div{
  width: 100%;
 }
 .left-square{
  width: 100%;
 }
 .right-square{
  width: 100%;
  justify-items: center;
 }.product-square{
  flex-direction: column;
 }
 .light-text{
  text-align: center;
 }
 .resume-mobile {
    display: block !important;
    height: 30% !important;
    transform: translateY(0);
  
  }
  .div-support-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: center;
}
  body{
    margin-bottom: 200px;
  }
  .stepper-mobile{
  display: flex;
}
.stepper{
  display: none;
}
}
.check-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.415);
  z-index: 200;
  padding: 10px 20px;
  justify-content: center;
}

.div-support-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stepper {
  display: flex;
  align-items: center;
  gap: 60px;
}

.stepper-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

/* RESPONSIVO */
@media (max-width: 850px) {
  .check-header {
    flex-direction: column;
   height: 130px; 
    padding: 15px;
  }

  .div-support-header {
    flex-direction: row;
    align-items: center;
  }

  .stepper {
    display: none;
  }

  .stepper-mobile {
    display: flex;
  }
}