.main-content{
  width: 90%;
  justify-content: center;
  height: auto;
  background-color: lightblue;
  margin-top: 50px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid black;
}
.pedido-title{
  text-align: center;
}