p {
	margin: 0;
}

.main_content {
	flex-grow: 1;

}

.carousel-area {
	border-radius: 25px;
	overflow: hidden;
	margin-bottom: 30px;
}

.carousel-area img {
	height: 300px;
	width: 100%;
	object-fit: cover;
	/* mantém proporção e corta o excesso */
	display: block;
}

.products {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
	overflow-x: auto;
	padding-bottom: 10px;
	-webkit-overflow-scrolling: touch;
	margin-bottom: 30px;
}

.card {
	flex: 0 0 212px;
	/* mantém o tamanho do card fixo e impede encolhimento */
	min-width: 212px;
}

.card-body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card:hover {
	border-color: #909090;
}

.h1_products {
	font-family: "Funnel Sans", sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 30px;
}

.card-title {
	font-size: 16px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: box;
	line-clamp: 2;
	box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-value {
	font-weight: bold;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-light);
	margin-top: 100px;
	gap: 20px;
	height: 150px;
	padding: 15px;
	width: 100%;
	margin-inline: 0;
	border-radius: 25px;
	box-sizing: border-box;
	align-self: center;
}

.card_foo {
	background-color: white;
	flex: 1;
	height: 95%;
	border-radius: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: start;
	padding: 30px;
	box-sizing: border-box;
	border: none;
	font-size: medium;
	text-align: start;
	font-family: "Funnel Sans", sans-serif;
	color: #404040;
}

.card_foo:hover {
	background-color: rgb(240, 240, 240);
}

.lg_card_foo {
	height: 20px;
	fill: #f20000;
}

