/* styles.css */
:root {
  --primary-color: #d30000;
  --border-color: #c8c8c8;
  --text-color: #333;
  --input-bg: #fff;
  --method-bg-active: #fff5f5;
  --radius: 6px;
  --transition: 0.25s ease;
}

body {
}

.check-header{
  display: flex;
}



.payment-container {
  width: 420px;
  margin: 0;
}

.payment-methods {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.method {
  flex: 1;
  padding: 14px;
  border: 2px solid var(--border-color);
  background: #fff;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.method.active {
  border-color: #00d0fd;
  background: var(--method-bg-active);
  color: #00d0fd;
}
.aa::placeholder{
padding: 12px;
}

.title {
  margin-bottom: 18px;
}


.input-group {
  margin-bottom: 14px;
  
 
}


.input-group input,
.row input,
.input-group select {
  width: 100%;
  padding: 12px;
  border-radius: var(--radius);
  border: 1px solid var(--border-color);
  background: var(--input-bg);
  outline: none;
  transition: var(--transition);
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 14px;
  max-width: 420px;
  width: 100%;
  
}

input:focus,
select:focus {
  border-color: var(--primary-color);
}

.checkbox {
  font-size: 14px;
  display: flex;
  gap: 8px;
  justify-items: start;
 
}
footer.position-absolute{
 bottom: 0;
  position: absolute;
  bottom: 0px;

}
.main{
  justify-items: center;
  margin-top: 20px;
}
.data-cart{
  display: flex;
  flex-direction: column;
  width: 420px;
  align-content: center;
}
.card-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h_right{
  justify-items: center;
}
.stepper-mobile {
display: none;
align-items: center;
gap: 60px;
left: 50%;
}
.total{
  display: flex;
  background-color: rgb(249, 249, 249);
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  border: 1px solid rgb(171, 171, 171);
}
.p-text{
font-weight: 700;
}
.btn-container{
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}
.btn1{
  width: 50%;
}
.btn-grey{
  background-color: #ffffff;
  color: rgb(48, 48, 48);
}
.btn-grey:hover{
  background-color: #e6e6e6;
  color: rgb(48, 48, 48);
}
.btn-grey:active{
  background-color: #3d3d3d;
 color: rgb(48, 48, 48);
}




@media (max-width: 850px) {
.check-header{
  display: flex;
  justify-content: space-between;
  height: 130px;
}
.stepper{
  display: none;
}
.stepper-mobile{
  display: flex;
}
}

