.container_prod{

  /* border: 1px solid black; */
  padding: 10px;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: flex-start;

}

.img_prod{


  flex: 1;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

.img_prod img{

height: 600px;

}

.lbl_prod{

  flex: 1;
  border: 1px solid var(--color-gray);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  align-items: flex-start;

}

.desc-carac{
  /* border: 1px solid black; */
  display: flex;
  gap: 1rem;
  align-items: flex-start; /* impede que as internas estiquem */
  padding: 10px;
}

.descricao{
  background-color: var(--color-super-light-gray);
  border-radius: 10px;
  border: 1px solid black;
  flex: 1;
  padding: 10px;
}

.descricao ul{
  list-style-type: disc;
}

.descricao h2{

  font-size: 1.2rem;
  margin-bottom: 0.4rem;

}

.descricao p{

  margin-bottom: 1.2rem;
}

.descricao li{

  margin-bottom: 0.3rem;

}

.caracteristicas{
  background-color: var(--color-super-light-gray);
  border-radius: 10px;
  border: 1px solid black;
  flex: 1;
  padding: 10px;
}

.caracteristicas div{
  display: flex;
  justify-content: space-between;
}

.caracteristicas h2{

  font-size: 1.2rem;
  margin-bottom: 0.8rem;

}
.caracteristicas p{

  font-size: 1.2rem;

}
.caracteristicas hr{

  margin-block: 0.5rem;

}

.buttons_lbl_prod {
  display: flex;        /* Coloca os botões lado a lado */
  width: 100%;          /* Ocupa toda a largura da div pai */
  gap: 10px;            /* Espaço entre os botões */
  margin-top: 20px;     /* Espaço acima dos botões (opcional) */
}

.buttons_lbl_prod button {
  flex: 1;              /* Faz cada botão ocupar metade do espaço */
  height: 50px;         /* Altura dos botões */
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #00D0FD;  /* Cor de fundo */
  color: white;               /* Cor do texto */
  font-weight: 600;
  transition: background 0.3s;
}

.buttons_lbl_prod button:hover {
  background-color: #00a8d1;  /* Efeito ao passar o mouse */
}