/* ==============================
   COMPONENTS.CSS
   Estilos específicos de elementos reutilizáveis
============================== */

/* === Header === */
.header {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(230, 230,230); */
  gap: 8px;
  min-height: 50px;
  margin-bottom: 18px;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
}

.header__left,
.header__right {
  flex-shrink: 0;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 170px;
  margin-right: 10px;
  margin-left: 0px;
}

.header__center {
  flex: 1 1 300px;
  min-width: 250px;
}

.search-form {
  position: relative;
  min-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
}

.search-form input {
  width: 100%;
  height: 45px;
  padding: 10px 45px 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  background-color: var(--color-light);
  outline: none;
  box-sizing: border-box;
}

.search-form input::placeholder {
  font-family: "Funnel Sans", sans-serif;
  color: #464646;
  font-size: 16px;
}

.search-form button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  background: none;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
