/* ==============================
   BASE.CSS
   Estilos globais e padrões do site
============================== */

/* Corpo do site */
body {
  font-family: var(--font-base);
  font-size: var(--font-size-base);
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: bold;
}
