/* ==============================
   BASE.CSS
   Estilos globais e padrões do site
============================== */

/* Corpo do site */

html,
body {
  width: 100%;
  overflow-x: hidden; /* impede rolagem lateral */
}

body {
  padding: 15px 50px;
  margin: 0;
  font-family: var(--font-base);
  font-size: var(--font-size-base);
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
}

/* Títulos */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: bold;
}
