html,
body {
  width: 100%;
  overflow-x: hidden; /* impede rolagem lateral */
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.h_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 200px;
}

.cent_ate_but {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "Funnel Sans", sans-serif;
}

.cent_ate_but:hover {
  background: none;
}

.headset_svg {
  height: 20px;
}

.container_log {
  width: 90%;
  max-width: 400px;
  background-color: transparent;
  padding: 30px;
  border-radius: 15px;
  margin-inline: auto;
  flex-grow: 1;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.h2_login {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Funnel Sans", sans-serif;
}

label {
  margin-bottom: 5px;
  font-weight: 5px;
  color: #545454;
  font-family: "Funnel Sans", sans-serif;
}

input {
  padding: 10px;
  border: none;
  margin-bottom: 15px;
  border-radius: 10px;
  font-size: 16px;
  background-color: rgb(230, 230, 230);
  height: 25px;
}

input::placeholder {
  color: rgba(54, 54, 54, 0.5);
}

.but_entrar {
  padding: 12px;
  background-color: #00d0fd;
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  height: 49px;
  font-family: "Funnel Sans", sans-serif;
}

.but_entrar:hover {
  background-color: #00afd7;
}

.botao_esqueci_senha {
  display: inline;
  align-self: center;
  margin-top: 30px;
  font-family: "Funnel Sans", sans-serif;
}

.out_met_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.out_met {
  color: #999999;
  font-size: medium;
  font-family: "Funnel Sans", sans-serif;
}

.out_met::before,
.out_met::after {
  content: "";
  display: inline-block;
  width: 40px; /* tamanho da linha */
  height: 1px; /* espessura */
  background-color: #ccc; /* cor da linha */
  vertical-align: middle;
  margin: 0 10px; /* espaço entre a linha e o texto */
}

.div_outras_formas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 10px;
}

.card_of_login {
  border: none;
  padding: 2px 50px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background: none;
  transition: 0.3s;
  cursor: pointer;
}

.card_of_login:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.of_logos {
  height: 30px;
  width: auto;
  display: block;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  margin-top: 100px;
  gap: 20px;
  height: 150px;
  padding: 15px;
  width: 95%;
  margin-inline: auto;
  border-radius: 25px;
  box-sizing: border-box;
}

.card_foo {
  background-color: white;
  flex: 1;
  height: 95%;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 30px;
  box-sizing: border-box;
  border: none;
  font-size: medium;
  text-align: start;
  font-family: "Funnel Sans", sans-serif;
  color: #404040;
}

.card_foo:hover {
  background-color: rgb(240, 240, 240);
}

.lg_card_foo {
  height: 20px;
  fill: #f20000;
}

@media (max-width: 500px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
  }

  header {
    justify-content: center;
    align-items: center;
    padding-block: 25px;
  }

  .logo {
    width: 200px;
  }

  .h_right {
    display: none;
  }

  .container_log {
    padding: 20px;
  }

  input,
  .but_entrar {
    font-size: 14px;
    padding: 8px;
  }

  .out_met {
    font-size: small;
  }

  .out_met::before,
  .out_met::after {
    width: 25px;
  }

  .card_of_login {
    padding-inline: 25px;
  }

  .of_logos {
    height: 25px;
  }
}
