/* ==============================
   COMPONENTS.CSS
   Estilos específicos de elementos reutilizáveis
============================== */

/* === Botões === */
.btn {
  background-color: var(--color-primary);
  border-radius: 25px;
  color: var(--color-white);
  font-weight: bold;
  padding: 12px;
  border: none;
}

