header {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.h_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 200px;
}

.cent_ate_but {
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
  font-family: "Funnel Sans", sans-serif;
}

.cent_ate_but:hover {
  background: none;
}

.headset_svg {
  height: 20px;
}