/* ==============================
   COMPONENTS
   Estilos específicos de elementos reutilizáveis
============================== */

/* === Header === */
.header {
  padding: 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(230, 230,230); */
  gap: 8px;
  min-height: 50px;
  margin-bottom: 18px;
  height: 62px;
}

.header__left,
.header__center,
.header__right {
  display: flex;
  align-items: center;
}

.header__left,
.header__right {
  flex-shrink: 0;
}

.header__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo {
  width: 170px;
  margin-right: 10px;
  margin-left: 0px;
}

.header__center {
  flex: 1 1 300px;
  min-width: 250px;
}

.search-form {
  position: relative;
  min-width: 200px;
  flex-grow: 1;
  box-sizing: border-box;
}

.search-form input {
  width: 100%;
  height: 45px;
  padding: 10px 45px 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 14px;
  background-color: var(--color-light);
  outline: none;
  box-sizing: border-box;
}

.search-form input::placeholder {
  font-family: "Funnel Sans", sans-serif;
  color: #464646;
  font-size: 16px;
}

.search-form button {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  border: none;
  background: none;
  cursor: pointer;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.header__right__btn-login,
.header__right__btn-orders,
.header__right__btn-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  background: none;
  cursor: pointer;
  padding: 10px 18px 10px 10px;
  gap: 6px;
  border-radius: 25px;
}

.header__right__btn-login:hover,
.header__right__btn-orders:hover,
.header__right__btn-cart:hover {
  background-color: #00cffd11;
}

.header__right__icons {
  height: 30px;
  color: var(--color-primary);
}

.header__right__lbl p {
  margin-block: 0px;
  font-size: 14px;
  display: flex;
}

.header__right__lbl__p__top {
  font-weight: 200;
  color: #404040;
}

.header__right__p__bottom {
  font-weight: 600;
  color: #303030;
}


